.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  width: 12.75rem;
  height: 14.625rem;
  padding: 0.875rem;
  border-radius: 0.9375rem;
  background: var(--white-color);
  overflow: hidden;
  transition: height 10s ease-in;
}

.card:hover {
  padding-bottom: 1rem;
}

.card-title {
  color: var(--text-color);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01963rem;
  text-align: center;
  align-items: center;
  /* text-align: left; */
}

.card-description {
  color: var(--text-color);
  font-family: Happy Monkey;
  font-size: 0.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01963rem;
  margin-top: 0.5rem;
}
.card:hover {
  height: auto;
}

.card img {
  height: 7.5rem;
}

.view-projects-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 6.25rem;
  font-size: 0.6rem;
  width: fit-content;
  padding: 0.3rem 1rem;
  /* margin: 0 auto; */
}

/* responsive */

@media only screen and (max-width: 480px) {
  .card {
    padding: 0.6rem;
    width: 8.75rem;
    height: 10.625rem;
    gap: 0.5rem;
  }

  .card-title {
    font-size: 0.8rem;
  }

  .card-description {
    font-size: 0.7rem;
  }

  .view-projects-btn {
    font-size: 0.7rem;
  }
  .card img {
    height: 4.5rem !important;
  }
}

.card ::-webkit-scrollbar {
  width: 0;
}
