<div class="flex items-center justify-center h-screen py-32 pt-48 micro-parent">
  <div class="flex flex-col items-center justify-center w-full gap-4 px-8 xl:w-full lg:gap-4 sm:px-8 lg:px-8 xl:px-28 md:pt-1">
    <h1 class="text-xl font-semibold text-center text-white lg:text-xl xl:text-2xl sm:text-lg md:text-xl sm:font-light ">Micro-improvement Repository</h1>
    <p class="text-xs leading-relaxed text-center text-white lg:text-base xl:text-sm xl:tracking-wider xl:leading-relaxed md:text-base lg:font-light">
      This micro-improvement repository includes projects under various domains of school improvement (adapted from Shala
      Siddhi Framework, SQAA and PM SHRI SQAF) . These domains help categorize different improvement journeys a school must
      lead to (directly or indirectly) provide meaningful learning experiences for children.  These projects can be taken up
      by school leaders, teachers, education NGOs, system leaders and others.
    </p>
    <div class="flex flex-wrap items-center justify-center w-full gap-4 pt-6 md:w-4/6 lg:w-4/6 xl:w-4/6 2xl:w-4/6 md:gap-10">
      <div *ngFor="let card of cards">
        <app-card
          [title]="card.title"
          [description]="card.description"
          [imageSrc]="card.image"
          [buttonText]="card.buttonLabel"
          [link]="card.route"
          [blogData]="card.blogs"
        ></app-card>
      </div>
      <div *ngIf="!cards.length">
        No Cards Found ! 
      </div>
    </div>
  </div>
</div>
