.main-micro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 2rem;
}
.explore-btn {
  background-color: var(--white-color);
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 6.25rem;
  color: var(--text-color);
  text-transform: uppercase;
  text-align: center;
  line-height: normal;
  letter-spacing: 0.1rem;
}

.explore-btn:hover {
  opacity: 60%;
}
